<div class="hero-unit" id="hero-main">
    <h1>Find a show</h1>
    <%= form_tag "@show" do %>
      <%= text_field_tag :search, params[:search], :id => "textfield-main" %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-large" %> 
    <% end %> 
</div>
