<h2>
  <%= @all_missed_episodes.count %> Missed episodes
</h2>

<ul>
  <% @tracked_shows.each do |show| %>
    <li>
      <%= link_to show.name, show_path(show) %>
      <ul>
        <% show.episodes.select do |ep| %>
          <% if !ep.seen?(@user) %>
          <li>
            <%= link_to '<i class="icon-remove"></i>'.html_safe + ep.name, episodes_users_path(:episode_id => ep.id, :show_id => show.id), :method => :post, :remote => true %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>