<div class="hero-unit">
  <h2>SEE ALL THE SHOWS!</h2>
  <h5>If your show is not here, just 
    <%= link_to "search", root_path %>
    for it, and it will be imported!</h5>

  <ul class="thumbnails thumbnails-shows">

    <% @shows.each do |show| %>
      <li class="span2 thumbnails">
        
        <%= image_tag show.image %>
        <%= link_to show.name, show_path(show.id) %>
        <br>

        <%= render partial: 'track', locals: { show: show } %>

      </li>
    <% end %>

  </ul>
</div>
