<div class="hero-unit">
  <h2>SEE ALL THE SHOWS!</h2>

  <ul class="thumbnails thumbnails-shows">

    <% @shows.each do |show| %>
      <li class="span2 thumbnails">
        <img src="http://placehold.it/260x120"><br>
        <%= link_to show.name, show_path(show.id) %>
        <br>

        <%= render partial: 'track', locals: { show: show } %>

      </li>
    <% end %>

  </ul>
</div>
